<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" [hidden]="messageHidden" role="alert">
            <strong>Success!</strong> {{ message }}
        </div>
        <div class="card">
            <div class="card-header">
                Enter Memo Information
            </div>
            <div class="card-body">
                <form class="form-validate form-horizontal" id="memoForm" enctype="multipart/form-data"
                    novalidate="novalidate" (ngSubmit)="addMemo()" [formGroup]="form">
                    <div class="form-group ">
                        <label class="col-form-label">Title</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" />
                            <mat-error *ngIf="form.get('title').hasError('required')">
                                Title is <strong>required!</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">URL</label>
                        <mat-form-field class="full-width-upload" appearance="outline">
                            <mat-toolbar>
                                <!-- Display files names -->
                                <input matInput formControlName="url" readonly />
                                <!-- Browse Button -->
                                <button mat-flat-button color="primary">
                                    Browse File
                                </button>
                            </mat-toolbar>
                            <!-- Fetch selected filed on change -->
                            <input type="file" #fileInput name="file" id="uploadFile" (change)="onSelected($event)" />
                            <mat-error *ngIf="form.get('url').hasError('required')">
                                URL is <strong>required!</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-checkbox formControlName="latest">Is Latest?</mat-checkbox>
                    </div>
                    <div class="form-actions">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                                Save
                            </button>
                            <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="deleteMemo()">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Memos List
            </div>
            <div class="card-body">
                <app-data-table (rowId)="onRowSelected($event)"></app-data-table>
            </div>
        </div>
    </div>
</div>