<section class="wrapper">
    <!--overview start-->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> Quick Access Tools</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-laptop"></i>Quick Access Tools</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissible fade in" [hidden]="messageHidden" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                <strong>Success!</strong> {{ message }}
            </div>
            <section class="panel">
                <header class="panel-heading">
                    Enter Quick Access Tools Data
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" enctype="multipart/form-data" novalidate="novalidate" (ngSubmit)="addQuickAccessTool()" #addQuickAccessToolForm="ngForm">
                            <div class="form-group ">
                                <label for="title" class="control-label col-lg-2">Title <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="title" name="title" type="text" required [(ngModel)]="quickaccesstool.title" #title="ngModel">
                                    <div [hidden]="title.valid || title.pristine">
                                        <label for="title" class="error">Title is required.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="control-label col-lg-2">Content <span class="required">*</span></label>
                                <div class="row">
                                    <div class="col-lg-7" style="display: inline-block; margin-bottom: 0;">
                                        <input class="form-control" id="content" name="content" (change)="onSelected($event)" type="file" required [(ngModel)]="quickaccesstool.content" #content="ngModel">

                                        <span class="badge bg-primary">{{uploadProgressPerc}}</span>
                                        <div [hidden]="content.valid || content.pristine">
                                            <label for="content" class="error">Content is required.</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="button" class="btn btn-default" (click)="uploadContent()">Upload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit" [disabled]="!addQuickAccessToolForm.form.valid">Save</button>
                                    <button class="btn btn-danger" (click)="deleteQuickAccessTool()" type="button">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Quick Access Tools List
                </header>
                <table id="qatDataTable" class="table table-bordered table-hover dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Content</th>
                        </tr>
                    </tfoot>
                </table>

            </section>
        </div>
    </div>
</section>