<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" [hidden]="messageHidden" role="alert">
            <strong>Success!</strong> {{ message }}
        </div>
        <div class="card">
            <div class="card-header">
                Enter Prescription Information
            </div>
            <div class="card-body">
                <form class="form-validate form-horizontal" id="prescriptionForm" enctype="multipart/form-data"
                    [formGroup]="form" (ngSubmit)="addPrescriptionTool()">
                    <div class="form-group ">
                        <label class="col-form-label">Description</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description" />
                            <mat-error *ngIf="form.get('description').hasError('required')">
                                Description is <strong>required!</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Parent</label>
                        <mat-form-field class="col-lg-10" appearance="outline">
                            <mat-label>Choose one</mat-label>
                            <mat-select formControlName="parentid">
                                <mat-option>Select Parent</mat-option>
                                <mat-option *ngFor="let prescriptiontool of prescriptionTools"
                                    value="{{ prescriptiontool.id }}">
                                    {{ prescriptiontool.content }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('parentid').hasError('required')">Please select Parent
                                Prescription Tool</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="button" (click)="getChildren()">
                            Get Children
                        </button>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Content</label>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Content</mat-label>
                            <input matInput formControlName="content" />
                            <mat-error *ngIf="form.get('content').hasError('required')">
                                Content is <strong>required!</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-actions">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                                Save
                            </button>
                            <button mat-raised-button color="warn" [disabled]="!form.valid"
                                (click)="deletePrescriptionTool()">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Prescription List
            </div>
            <div class="card-body" style="flex: 1 1 auto;">
                <ag-grid-angular #myGrid style="width: 100%; height: 500px;" [gridOptions]=gridOptions
                    (selectionChanged)="onSelectionChanged($event)" class="ag-theme-alpine"
                    [rowData]="prescriptionTools" [columnDefs]="columnDefs">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>