<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-success" [hidden]="messageHidden" role="alert">
      <strong>Success!</strong> {{ message }}
    </div>
    <div class="card">
      <div class="card-header">
        Enter Guideline Type Data
      </div>
      <div class="card-body">
        <form class="form-validate form-horizontal" id="guidelinetypeform" enctype="multipart/form-data"
          (ngSubmit)="addGuidelineType()" [formGroup]="form">
          <div class="form-group ">
            <label class="col-form-label">Name</label>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="form.get('name').hasError('required')">
                Name is <strong>required!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group ">
            <label class="col-form-label">Folder</label>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Folder</mat-label>
              <input matInput formControlName="folder" />
              <mat-error *ngIf="form.get('folder').hasError('required')">
                Folder is <strong>required!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label class="col-form-label">Upload the Icon</label>
            <mat-form-field class="full-width-upload" appearance="outline">
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput formControlName="icon" readonly />
                <!-- Browse Button -->
                <button mat-flat-button color="primary">
                  Browse Icon
                </button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input type="file" #fileInput name="file" id="uploadFile" (change)="onSelected($event)" />
              <mat-error *ngIf="form.get('icon').hasError('required')">
                Icon is <strong>required!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-actions">
            <div class="col-lg-offset-2 col-lg-10">
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Save
              </button>
              <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="deleteGuidelineType()">
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Guideline Types List
      </div>
      <div class="card-body">
        <app-data-table (rowId)="onRowSelected($event)"></app-data-table>
      </div>
    </div>
  </div>
</div>
